.sponsors-container {
  width: 80%;
}

.sponsors-image img {
  text-align: center;
  margin : 10%;


  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);


}

.sponsors-image img:hover{

  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);

}



.sponsors-image {
  position: relative;
  overflow: hidden;
  height: 200px;
}



.sponsor-title {
  font-size: 80px;
  text-align: center;
}
